<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <form class="layui-form" lay-filter="firendlink-form">
            <div class="layui-form-item">
                <label class="layui-form-label">友链申请</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="allow-friendlink-apply" lay-skin="switch" lay-text="开启|关闭" lay-filter="allow-friendlink-apply" {{#if viewbag.enable_friendlink_apply}}checked{{/if}}>
                </div>
            </div>
        </form>

        <script type="text/html" id="toolbarAdd">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        form.render();

        form.on('switch(allow-friendlink-apply)', function(data){
            $.ajax('/admin/friendlinks/apply/toggle/' + data.elem.checked, {
                method: 'put',
                success: function(result) {
                    if(result.Err != undefined) {
                        form.val("firendlink-form", {
                            "allow-friendlink-apply": !data.elem.checked
                        });
                        layer.msg(result.Err);
                    }
                },
                error: function(err){
                    layer.msg(err.statusText);
                }
            });
        });

        table.render({
            elem: '#currentTableId',
            url: '/admin/friendlinks/api/all',
            toolbar: '#toolbarAdd',
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'link', title: '链接', width: 250, 
                    templet: function(d){
                        return '<a href="' + d.link + '" target="_blank" class="layui-table-link">' + d.link +'</a>';
                    }
                },
                {field: 'display_text', width: 250, title: '显示名称', sort: true},
                {field: 'show', title: '是否展示', width: 150, 
                    templet: function(d){
                        return d.show ? "是" : "否";
                    }
                },
                {field: 'remark', minWidth: 150, title: '备注'},
                {title: '操作', width: 160, toolbar: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            parseData: function(res){
                if(res.Ok) {
                    return {
                        "code": 0,
                        "msg": "全部友链", //解析提示文本
                        "count": res.Ok.length, //解析数据长度
                        "data": res.Ok //解析数据列表
                    };
                } else {
                    return {
                        "code": 1,
                        "msg": res.Err,
                    }
                }
            },
            page: false
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('/admin/friendlinks/add');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加友链',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var content = miniPage.getHrefContent('/admin/friendlinks/edit/' + data.id);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑友链',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除该友链？', function (index) {
                    $.ajax("/admin/friendlinks/delete/" + data.id, {
                        method: "delete",
                        dataType: "json",
                        success: function(data) {
                            if(data.Ok) {
                                layer.msg("删除成功", {time: 1000 }, function () {
                                    obj.del();
                                });
                            } else {
                                layer.msg(data.Err);
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>