<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑/回复</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url: '/admin/comments/api/list',
            toolbar: '#toolbarAdd',
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {field: 'id', width: 60, title: 'ID', sort: true},
                {field: 'comment_type', title: '评论类型', width: 90, 
                    templet: function(d){
                        if (d.comment_type == 1) {
                            return "博客";
                        } else if (d.comment_type == 2) {
                            return "Book";
                        } else if (d.comment_type == 3) {
                            return "留言";
                        }
                    }
                },
                {field: 'user_name', width: 120, title: '评论用户名'},
                {field: 'email', width: 150, title: '评论邮箱'},
                {field: 'comment_time', width: 150, title: '时间'},
                {field: 'unread', title: '状态', width: 80,
                    templet: function(d){
                        if (d.unread === true) {
                            return '<span style="color: #FF5722;">未读</span>';
                        } else {
                            return '<span color="green">已读</span>';
                        }
                    }
                },
                {field: 'show', title: '是否展示', width: 90,
                    templet: function(d){
                        if (d.show === true) {
                            return '<span>展示</span>';
                        } else {
                            return '<span style="color: #FF5722;">不展示</span>';
                        }
                    }
                },
                {title: '操作', width: 160, toolbar: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            where: {

            },
            parseData: function(res){
                if(res.Ok) {
                    return {
                        "code": 0,
                        "msg": "评论", //解析提示文本
                        "count": res.Ok.total_num, //解析数据长度
                        "data": res.Ok.page_items //解析数据列表
                    };
                } else {
                    return {
                        "code": 1,
                        "msg": res.Err,
                    }
                }
            },
            page: true,
            limit: 10,
            limits: [10, 15, 20, 50]
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var content = miniPage.getHrefContent('/admin/comments/edit/' + data.id);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑/回复评论',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除该评论？', function (index) {
                    $.ajax("/admin/comments/delete/" + data.id, {
                        method: "delete",
                        dataType: "json",
                        success: function(data) {
                            if(data.Ok) {
                                layer.msg("删除成功", {time: 1000 }, function () {
                                    obj.del();
                                });
                            } else {
                                layer.msg(data.Err);
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>