{{#*inline "title"}}
关于
{{/inline}}

{{#*inline "header-block"}}
<style>
    ul{
        margin: 0;
        list-style:circle;
        font-size: .9rem;
    }
</style>
{{/inline}}

{{#*inline "content"}}
<div>
    <h5 style="margin: 10px;">链接：</h5>
    <ul>
        <li><a href="https://github.com/dayang" target="_blank">github: <i class="fab fa-github"></i></a></li>
        <li><a href="/static/leetcode/doc/two_sum/index.html" target="_blank">leetcode 题解</a></li>
    </ul>
    
    <h5 style="margin: 10px;">友情链接：</h5>
    <ul>
        <li><a href="https://blog.wolfogre.com" target="_blank">狼煞博客</a></li>
        <li><a href="https://oldzeng.com" target="_blank">老增</a></li>
        <li><a href="https://blog.wongwongsu.com" target="_blank">一南向北</a></li>
    </ul>
</div>
{{/inline}}

{{#*inline "script-block"}}

{{/inline}}

{{~> base ~}}