{{#*inline "title"}}
关于
{{/inline}}

{{#*inline "header-block"}}
<style>
    .about a{
        color: cadetblue;
    }

    .about-page{
        margin-bottom: 20px;
    }

    .friend-links a{
        display: inline-block;
        margin: 4px 0;
    }

    .friend-links a:hover{
        color:darkcyan;
    }
</style>
{{/inline}}

{{#*inline "content"}}
<div class="about">
    <div class="about-page">
        {{{ about_page }}}
    </div>
    <h3>
        友情链接：
    </h3>
    <ul class="friend-links">
        {{#each friend_links}}
        <li>
            <svg class="icon-symbol" aria-hidden="true">
                <use xlink:href="#icon-lianjie"></use>
            </svg>
            <a href="{{ link }}" target="_blank">{{ display_text }}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{/inline}}

{{#*inline "script-block"}}

{{/inline}}

{{~> base ~}}