{{#*inline "title"}}
关于
{{/inline}}

{{#*inline "header-block"}}
<style>
    .about a{
        color: #01AAED;
    }

    .about-page{
        margin-bottom: 20px;
    }

    .friend-links a{
        display: inline-block;
        margin-top: 6px;
    }

    .friend-links a:hover{
        color:#1E9FFF;
    }

    #apply-for-btn{
        float: right;
    }
</style>
{{/inline}}

{{#*inline "content"}}
<div class="about">
    <div class="about-page">
        {{{ about_page }}}
    </div>

    <blockquote class="layui-elem-quote layui-quote-nm">
        <h3>友情链接：
            {{#if friendlink_apply_enabled }}
            <button id="apply-for-btn" class="layui-btn layui-btn-xs layui-btn-normal">友链申请</button>
            {{/if}}
        </h3>
        <ul class="friend-links">
        {{#each friend_links}}
        <li>
            <svg class="icon-symbol" aria-hidden="true">
                <use xlink:href="#icon-lianjie"></use>
            </svg>
            <a href="{{ link }}" target="_blank">{{ display_text }}</a>
        </li>
        {{/each}}
    </ul>
    </blockquote>
</div>
{{/inline}}

{{#*inline "script-block"}}
{{#if friendlink_apply_enabled }}
<script id="friendlink-form" type="text/template">
<form class="layui-form" action="" style="margin: 20px;">
  <div class="layui-form-item">
    <label class="layui-form-label">博客名称</label>
    <div class="layui-input-block">
      <input type="text" name="display_text" required  lay-verify="required" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">博客链接</label>
    <div class="layui-input-block">
      <input type="text" name="link" required  lay-verify="required|url" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">留言</label>
    <div class="layui-input-block">
        <textarea name="remark" lay-verify="required" placeholder="有什么想说的" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="applyFriendlinkForm">申请</button>
    </div>
  </div>
</form>
</script>
{{/if}}
<script>
    layui.use(['jquery','layer', 'form'], function() {
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;

        {{#if friendlink_apply_enabled }}
        $('#apply-for-btn').click(function() {
            layer.open({
                type: 1,
                title: "申请友链",
                area: "400px",
                offset: '100px',
                content: $('#friendlink-form').html(),
                success: function(layero, index){
                    form.on('submit(applyFriendlinkForm)', function(data){
                        $.ajax('/friendlink/apply', {
                            method: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(data.field),
                            success: function(data) {
                                if (data.Ok) {
                                    layer.msg("申请成功，待博主确认哦~");
                                    layer.close(index);
                                } else {
                                    layer.msg(data.Err);
                                }
                            }
                        })
                        return false;
                    });
                }
            });
        });
        {{/if}}
    });
</script>
{{/inline}}

{{~> base ~}}